 {% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
   <section class="post_for">
   <div class = "mai">
   <div class="main-header">
        <img src="/static/img/techis-logo.png" class="logo">
        <h1>Edit</h1>
    </div>
    </div>
   <form action="" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
    <input type="text" name="name" value = "{{post.name}}" required />
    <input  class = "texted" type="text" name="body" value="{{post.body}}" required />
    {% comment %} <input class = "textedit" type="text" name="body" value = "{{post.body}}"    required /> {% endcomment %}
    {% comment %} <textarea name="body" value ="{{post.value}}" required></textarea> {% endcomment %}
      <img src= "{{ post.image.url}}" style="width:300px">
    
    <div class="bottomarea">
                    <div class="mb-0">
                        <input class="form-control form-control-sm" name="image" type="file">
                    </div>
                    <a href="{% url 'index' %}" class = "btn btn-gray" >Cancel</a>
                    <button class="btn" type="submit">Edit</button>
                    {% comment %} <button class="btn" type="submit">Cancel</button> {% endcomment %}
                    {% comment %} <a class = "btn btn-gray"  href="{% url 'index' %}">Cancel</a> {% endcomment %}
                    {% comment %} href="{% url 'index' %}" {% endcomment %}
                </div>
   </form>
  </section>

  

</section>
{% endblock %}